@import "tailwindcss";

.heading {
    color:black;
    font-size: xx-large;
    text-align: left;
    width: 200px;
    margin-left: 50px;
    text-decoration: underline;
}

body {
    color: white;
    background-color: black;
    font-family: sans-serif;
    padding-left: 50px;
    padding-top: 56px;
    padding-bottom: 56px;
    width: 100%;

}